<div class="jumbotron">
    <h1 class="text-center">NetHubsPack</h1>
    <div class="row">
        <div class="col-md-12 text-center">
            <br />
            <img src="~/NH.Design/Resources/NetHubIconx128.png" />
            <br />
            <hr />
        </div>
    </div>
    <p class="text-center"><a href="#" class="btn btn-primary btn-lg text-center">Coming Soon</a></p>
</div>
<div class="row">

</div>